body {
  font-family: Arial, sans-serif;
  background-color: #6b6969;
  margin: 50px 0 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #333;
}

input[type="text"] {
  width: calc(100% - 260px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #037307;
}

.task-row {
  border-bottom: 1px solid #ccc;
}

.task-row:last-child {
  border-bottom: none;
}

.task-row td {
  padding: 10px;
  text-align: left;
}

.task-row td:first-child {
  width: 60%;
}

.task-row td:nth-child(2),
.task-row td:nth-child(3) {
  width: 20%;
}

#priorityTaskList {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.task-row button {
  margin-top: 5px;
}
